# Composer
/library/vendor/
/application/api/vendor/

# PHPUnit
/library/.phpunit.cache/

# Node.js
/application/frontend/node_modules/
/application/frontend/build/
/application/frontend/.pnp.js
/application/frontend/.pnp.loader.mjs

# OS
.DS_Store

# Local Test Artifacts
cookie.txt
/application/api/sessions/

# Environment Variables
# Ignore all .env files.
.env
.env.*
# DOoNOT ignore the example template.
!.env.example
